// Listen at port 9000 by default
port = "9022"

permit_write = true

// Enable TSL/SSL by default
enable_tls = false

// hterm preferences
// Smaller font and a little bit bluer background color
preferences {
    font_size = 5
    background_color = "rgb(16, 16, 32)"
}