deb [arch=amd64] http://linux.dropbox.com/ubuntu {{ansible_distribution_release}} main
deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main
deb https://apt.dockerproject.org/repo ubuntu-{{ansible_distribution_release}} main
deb https://deb.nodesource.com/{{nodejs_version}} {{ansible_distribution_release}} main
deb https://packagecloud.io/github/git-lfs/ubuntu/ {{ansible_distribution_release}} main
