[Desktop Entry]
Comment[de_DE]=
Comment=
Exec=/usr/bin/systemctl suspend
GenericName[de_DE]=
GenericName=
Icon=system-suspend
MimeType=
Name[de_DE]=Suspend system
Name=Suspend system
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
