[Desktop Entry]
Comment[de_DE]=
Comment=
Exec=/usr/bin/systemctl reboot --no-wall
GenericName[de_DE]=
GenericName=
Icon=system-reboot
MimeType=
Name[de_DE]=Reboot system
Name=Reboot system
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
