[Desktop Entry]
Comment[de_DE]=
Comment=
Exec=/usr/local/bin/vsc
GenericName[de_DE]=
GenericName=
Icon=/home/usc/Nextcloud/nicepics/vscode-blue.png
MimeType=
Name[de_DE]=VSCode Remote
Name=VSCode Remote
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
