- name: enable magic sysra
  lineinfile: >
    dest=/etc/sysctl.d/90-magic-sysrq.conf
    state=present
    line="kernel.sysrq=1"
    regexp="^kernel.sysrq.*"
    create=true

- name: allow .local resolution with avahi, so kio-fuse will work
  lineinfile: >
    dest=/etc/nsswitch.conf
    state=present
    line="hosts: mymachines mdns_minimal [NOTFOUND=return] resolve [!UNAVAIL=return] files myhostname dns"
    regexp="^hosts:"
    create=false

- name: do arch specific things
  block:
    - name: allow zsh as a shell
      lineinfile:
        path: /etc/shells
        line: /bin/zsh

    - name: allow nu as a shell
      lineinfile:
        path: /etc/shells
        line: /bin/nu

    - name: Use reflector to fetch from german mirrors
      lineinfile:
        path: /etc/xdg/reflector/reflector.conf
        line: --country Germany

    - name: Use reflector to fetch from german mirrors
      lineinfile:
        path: /etc/xdg/reflector/reflector.conf
        regexp: '^--save'
        line: --save /etc/pacman.d/mirrorlist

    - name: Import a key via keyserver
      community.general.pacman_key:
        id: EF925EA60F33D0CB85C44AD13056513887B78AEB
        keyserver: keyserver.ubuntu.com
        force_update: yes

    - name: Use home mirror as default
      blockinfile:
        path: /etc/pacman.conf
        block: |
          # The testing repositories are disabled by default. To enable, uncomment the
          # repo name header and Include lines. You can add preferred servers immediately
          # after the header, and they will be used before the default mirrors.

          [core]
          Server = http://homeserver:7878/$repo/os/$arch
          Include = /etc/pacman.d/mirrorlist

          [extra]
          Server = http://homeserver:7878/$repo/os/$arch
          Include = /etc/pacman.d/mirrorlist

          [aur]
          SigLevel = Optional TrustAll
          Server = http://homeserver:8001

          [chaotic-aur]
          Server = http://homeserver:7878/$repo/$arch

          #[extra-testing]
          #Server = http://homeserver:7878/$repo/os/$arch
          #Include = /etc/pacman.d/mirrorlist

          #[core-testing]
          #Server = http://homeserver:7878/$repo/os/$arch
          #Include = /etc/pacman.d/mirrorlist

          #[multilib]
          #Server = http://homeserver:7878/$repo/os/$arch
          #Include = /etc/pacman.d/mirrorlist

          #[multilib-testing]
          #Server = http://homeserver:7878/$repo/os/$arch
          #Include = /etc/pacman.d/mirrorlist

    - name: Ensures /etc/pacman.d/hooks/ dir exists
      file: path=/etc/pacman.d/hooks/ state=directory

    - name: install mirrorupgrade hook
      copy:
        src: mirrorupgrade
        dest: /etc/pacman.d/hooks/mirrorupgrade.hook

    - name: remove old packages
      pacman: name={{absent_packages}} state=absent

    - name: install keyring so later packages will be signed
      pacman: name=chaotic-keyring state=present

    - name: install base packages
      pacman: name={{arch_packages}} state=present

    - name: Add the flathub flatpak repository remote to the user installation
      flatpak_remote:
        name: flathub
        state: present
        flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo

    - user:
        name: aur_builder
        group: wheel
        system: yes
    - lineinfile:
        path: /etc/sudoers.d/11-install-aur_builder
        line: 'aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman'
        create: yes
        validate: 'visudo -cf %s'
    # - name: Recursively remove directory
    #   become: yes
    #   become_user: aur_builder
    #   shell: chmod -R 755 ~/.cache/yay
    - name: install base aur packages
      kewlfft.aur.aur: name={{aur_packages}} state=present aur_only=yes
      become: yes
      become_user: aur_builder
      async: 3600
      poll: 0
      register: aur_installs

    # - name: install modconfig for v4l2
    #   template: src=v4l2loopback.conf.j2 dest=/etc/modprobe.d/v4l2loopback.conf
    # - name: load v4l2
    #   template: src=v4l2loopback.load.j2 dest=/etc/modules-load.d/v4l2loopback.conf
    - name: remove v4l2loopback configs
      ansible.builtin.file:
        path: "{{item}}"
        state: absent
      loop:
        - /etc/modprobe.d/v4l2loopback.conf
        - /etc/modules-load.d/v4l2loopback.conf

    - name: Ensures ssh accpets lang environment
      copy:
        src: ssh-environment.conf
        dest: /etc/ssh/sshd_config.d/10-environment.conf

    - name: Ensures sddm/wayland config dir exists
      file: path=/etc/sddm.conf.d/ state=directory

    - name: install sddm/wayland
      copy:
        src: sddm-wayland.conf
        dest: /etc/sddm.conf.d/10-wayland.conf

  when: ansible_facts['distribution'] == "Archlinux"

# develop with docker you get after a few hours this error:
#   neighbour: arp_cache: neighbor table overflow!
# so we have to increase some values
- sysctl:
    name: net.ipv4.neigh.default.gc_thresh1
    value: 8096
    sysctl_file: /etc/sysctl.d/docker_dev_neigh_cache.conf
    reload: yes
- sysctl:
    name: net.ipv4.neigh.default.gc_thresh2
    value: 12288
    sysctl_file: /etc/sysctl.d/docker_dev_neigh_cache.conf
    reload: yes
- sysctl:
    name: net.ipv4.neigh.default.gc_thresh3
    value: 16384
    sysctl_file: /etc/sysctl.d/docker_dev_neigh_cache.conf
    reload: yes
- name: set conntrack max, so minikube and kind will work again
  sysctl:
    name: net.netfilter.nf_conntrack_max
    value: 393216
    sysctl_file: /etc/sysctl.d/docker_dev_neigh_cache.conf
    reload: yes

- name: increase max_map_count for firefox
  sysctl:
    name: vm.max_map_count
    value: 262144
    sysctl_file: /etc/sysctl.d/firefox.conf
    reload: yes

- name: enable userns for podman
  sysctl:
    name: kernel.unprivileged_userns_clone
    value: 1
    sysctl_file: /etc/sysctl.d/podman.conf
    reload: yes

- name: set subuid/subgid
  lineinfile: dest=/etc/{{item}} state=present line="usc:100000:65536" create=true
  loop:
    - subuid
    - subgid

- name: create s3fs credentials file
  template: src=passwd-s3fs.j2 dest=/etc/passwd-s3fs mode=0600
  when: s3_music_key is defined

- name: check if s3 music mountpoint exists
  stat: path="{{ s3_music_mount }}"
  register: s3_dir
  changed_when: False
  when: s3_music_key is defined

- name: s3 music mountpoint
  file: path={{ s3_music_mount }} state=directory mode=0777
  when: s3_music_key is defined and s3_dir.stat.exists is defined and not s3_dir.stat.exists

# - name: s3fs mount
#   mount: >
#     name={{ s3_music_mount }}
#     src='{{ s3_music_bucket }}'
#     fstype=fuse.s3fs
#     opts=_netdev,allow_other
#     state=mounted
#   when: s3_music_key is defined

- name: systemd settings
  file: path=/etc/systemd/{{item}}/ state=directory mode=0755
  loop:
    - system.conf.d
    - timesyncd.conf.d
    - journald.conf.d

- name: create ntp settings
  template: src=ntp.conf.j2 dest=/etc/systemd/timesyncd.conf.d/ntp.conf mode=0644
- name: create system settings
  template: src=system.conf.j2 dest=/etc/systemd/system.conf.d/system.conf mode=0644
- name: create journal settings
  template: src=journal.conf.j2 dest=/etc/systemd/journald.conf.d/journal.conf mode=0644

- name: create a cups restarter after resuming
  template: src=cupsresume.service.j2 dest=/etc/systemd/system/cupsresume.service

- name: enable the cupsrestarter
  systemd: daemon_reload=yes name=cupsresume enabled=no

- name: local scripts etc directory
  file: path=/etc/local-scripts state=directory mode=0755

- debug: var=trusted_localdata
- name: create auto unlock
  template: src=resume-unlock.sh.j2 dest=/etc/local-scripts/resume-unlock.sh mode=0755

- name: create auto unlock service
  template: src=resume-unlock.service.j2 dest=/etc/systemd/system/resume-unlock.service mode=0644

- name: enable the auto unlocker
  systemd: daemon_reload=yes name=resume-unlock.service enabled=yes
  when: "ansible_facts['hostname'] in trusted_localdata.only_hosts"

- name: disable user session freeze so create override dir
  file: path=/etc/systemd/system/systemd-suspend.service.d/ state=directory mode=0755

- name: disable user session freeze
  template: src=systemd-suspend.service.override.conf.j2 dest=/etc/systemd/system/systemd-suspend.service.d/override.conf mode=0644
  when: "'zugspitze' == ansible_facts['hostname']"

- name: tasmota socket for audio
  block:
  - name: create the audio socket enabler script
    template: src=tasmota-switch.sh dest=/usr/local/bin/tasmota-switch.sh mode=0755

  - name: symlink script
    file: >
      src=/usr/local/bin/tasmota-switch.sh
      dest=/usr/lib/systemd/system-sleep/tasmota-switch.sh
      state=link

  - name: create the audio socket enabler
    template: src=tasmota-socket.service.j2 dest=/etc/systemd/system/tasmota-socket.service mode=0644

  - name: enable the audio socket enabler
    systemd: daemon_reload=yes name=tasmota-socket.service enabled=yes

  when: "'zugspitze' == ansible_facts['hostname']"
