deb [arch=amd64] http://linux.dropbox.com/ubuntu xenial main
deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main
deb https://apt.dockerproject.org/repo ubuntu-zesty main
deb https://deb.nodesource.com/{{nodejs_version}} yakkety main
deb https://packagecloud.io/github/git-lfs/ubuntu/ zesty main
deb http://apt.kubernetes.io/ kubernetes-yakkety main
