deb [arch=amd64] http://linux.dropbox.com/ubuntu xenial main
deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main
deb [arch=amd64] https://download.docker.com/linux/ubuntu zesty stable
deb [arch=amd64] https://download.docker.com/linux/ubuntu zesty edge
deb https://packagecloud.io/github/git-lfs/ubuntu/ zesty main
deb http://apt.kubernetes.io/ kubernetes-xenial main
